* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #5999B3;
}


.nav-container{
    top: 0px;
    position: sticky;
    display: 100vw;
}

.icon-menu-top{
    padding-left: 50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-flex;
}

nav ul li a {
    font-size: 30px;
    font-weight: bold;
    padding: 20px 50px 20px 0px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    background-color: aliceblue;
    border: 0px solid;
    border-radius: 15px;
    
}

.heading-announce{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.heading-announce h{
    font-size: 50px;
    font-weight: bold;
}

.heading-announce p{
    font-size: 30px;    
}

.marquee{
    background-color: lightblue;
    position:relative;
    overflow: hidden;
    margin-bottom: 10rem;
    margin-top: 10rem;
    padding: 35px;
    height: 100%;
}

@keyframes marquee {
    from { transform: translateX(100vw); }
    to { transform: translateX(-50%); }
}

.sales-track {
    font-size: 70px;
    font-weight: bold;
    position: relative;
    white-space: nowrap;
    animation: 10s infinite linear marquee;
}

.options-container{
    background-color: lightblue;
    font-size: 40px;
    justify-content: space-between;
    text-align: center;
    border: 20px double black;
}

.options-container img{
    border: 5px dashed darkblue;
    height: 250px;
    border-radius: 20px;
}

.text-categorias{
    margin-top: 40px;
    text-align: center;
}

.container-image{
    display: flex;
    justify-content: space-around;
    padding: 5rem;
}


.footer-container{
    background-color: #5999B3; 
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.footer-list{
    color: black;
    font-size: 30px;
    text-align: center;
}

.footer-list ul{
    text-align: center;
}

.footer-list ul a{
    text-decoration: none;
    color: black;
}
.development{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}


/* Color for footer and body #5999B3 */
/* color for contrast - aliceblue */